.page__gallary {
  margin-bottom: 92px;
}

@media all and (max-width: 768px) {
  .page__gallary {
    margin-bottom: 88px;
  }
}

@media all and (max-width: 320px) {
  .page__gallary {
    margin-bottom: 64px;
  }
}
