.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 0 24px 0;
  margin: 0;
  background: #2A2C2F;
}

@media all and (max-width: 768px) {

}

@media all and (max-width: 320px) {
  .page {
    padding: 7px 0 16px 0;
  }
}
