.page__gallery {
  margin-bottom: 92px;
}

@media all and (max-width: 768px) {
  .page__gallery {
    margin-bottom: 88px;
  }
}

@media all and (max-width: 320px) {
  .page__gallery {
    margin-bottom: 64px;
  }
}
