.covert__title {
  max-width: 560px;
  font-family: "Inter Black", Arial, Helvetica, sans-serif;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 32px 0;
  bottom: 0;
}

@media all and (max-width: 320px) {
  .covert__title {
    max-width: 255px;
    margin: 0 16px 16px 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
