.header {
  max-width: 1184px;
  width: calc(100% - 48px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media all and (max-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

@media all and (max-width: 768px) {
  .header {
    max-width: 720px;
    width: calc(100% - 24px);
  }
}

@media all and (max-width: 320px) {
  .header {
    max-width: 288px;
    width: 100%;
  }
}
