.footer__links {
  margin: 0;
  padding: 0;
  max-width: 460px;
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media all and (max-width: 320px) {
  .footer__links {
    max-width: 248px;
    min-height: 250px;
    margin: 0 16px 35px 16px;
    flex-direction: column;
  }
}
