.intro {
  max-width: 690px;
  align-self: flex-start;
}

@media all and (max-width: 1024px) {
  .intro {
    align-self:auto;
  }
}

@media all and (max-width: 768px) {
  .intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 720px;
  }
}


@media all and (max-width: 320px) {
  .intro {
    width: 288px;
  }
}
