.covert {
  width: 100%;
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../images/1280/footer__background.jpg) no-repeat center
    center;
  position: relative;
}

@media all and (max-width: 1024px) {
  .covert {
    min-width: 1024px;
    min-height: 640px;
  }
}

@media all and (max-width: 768px) {
  .covert {
    min-width: 768px;
    min-height: 480px;
  }
}

@media all and (max-width: 320px) {
  .covert {
    min-width: 320px;
    min-height: 200px;
  }
}
